body {
    padding: 0;
}


.logo {
    width: 100px;
    height: 34px;
}

.card-sizing {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.pl-hero {
    padding-left: 1.0%;
}

.mt-hero {
    margin-top: 30px;
}

.with-border {
    border: 1px solid; /* Warna dan ketebalan border dapat disesuaikan */
    padding: 10px; /* Padding dapat disesuaikan sesuai kebutuhan */
}

@media (min-width: 1400px) {
    .pl-hero {
        padding-left: 9.6%;
    }

    .mt-hero {
        margin-top: 60px;
    }
}